* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #d0d0d0;
}

.title {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #f0f0f0;
}

body {
  background-color: #291f1e;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  padding: 0 20px 70px;
  max-width: 800px;
}

h1.title {
  padding-bottom: 40px;
}

div.desc {
  font-size: 22px;
  text-align: justify;
  /* width: fit-content; */
}

div#footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding: 30px 0;

  background-color: #1f1f1f;
  border-top: 1px solid black;
}

div#footer > div {
  padding: 10px;
  border-radius: 3px;
  /* background-color: #D0D0D0; */
  color: #f0f0f0;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 500px) {
  div.desc {
    font-size: 16px;
  }
}