<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Understand SQL database by talking" />
    <meta name="keywords" content="SQL, Natural Language, NLP Querying" />
    <meta name="author" content="Misael Jordan" />
    <meta name="theme-color" content="#291F1E" />

    <link rel="stylesheet" href="../static/styles/about.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="about-content">
      <h1 class="title">About me</h1>
      <div class="desc">
        I’m a master’s student in Data Science at Uppsala University, with a
        focus on Machine Learning Engineering. While I don’t focus on any
        particular area within data science, most of my projects revolve around
        deep learning applications.
        <div style="padding-bottom: 15px"></div>
        During my bachelor’s in Mathematics at Institut Teknologi Bandung, I
        explored
        <a target="_blank" href="https://digilib.itb.ac.id/gdl/view/47820"
          >time-series deep learning models for stock price prediction as part
          of my thesis</a
        >.
        <div style="padding-bottom: 15px"></div>
        Currently, for my master’s thesis, I am working on computer vision
        for physics. Specifically, I’m researching how
        <a target="_blank" href="https://github.com/mjorrico/PySuperwire"
          >segmentation networks, combined with spatial weighting mechanisms and
          synthetic data, can be used to segment cross-sectional images of
          superconducting wires based on material type</a
        >.
      </div>
    </div>

    <div id="footer">
      <div class="home"><a href="/">Home</a></div>
      <div class="apps"><a href="/app/sql">Portfolio</a></div>
    </div>
  </body>
</html>
