<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Understand SQL database by talking" />
    <meta name="keywords" content="SQL, Natural Language, NLP Querying" />
    <meta name="author" content="Misael Jordan" />
    <meta name="theme-color" content="#291F1E" />

    <link rel="stylesheet" href="../static/styles/homepage_default.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="content">
      <div class="border image-border">
        <div class="image"></div>
      </div>

      <div class="title-bar">
        <h1 class="title">Misael Jordan Enrico</h1>

        <div class="links">
          <a target="_blank" href="https://github.com/mjorrico">Github</a>
          <a target="_blank" href="https://www.linkedin.com/in/jordanenrico"
            >LinkedIn</a
          >
        </div>
      </div>

      <div class="desc-bar">
        I'm a master's student in Data Science, currently working on my thesis
        in Computer Vision for physics under
        <a
          href="https://www.uu.se/en/contact-and-organisation/staff?query=N22-2739"
          target="_blank"
          >Tommaso Bagni</a
        >. My interests span Data Science, Computer Vision, and NLP.
      </div>

      <div class="reach-out">
        Reach me out at
        <a target="_blank" href="mailto:misaeljordan.enrico.6037@student.uu.se"
          >misaeljordan.enrico.6037@student.uu.se</a
        >
      </div>
    </div>

    <div id="footer">
      <div class="about"><a href="/about">About</a></div>
      <div class="apps"><a href="/app/sql">Portfolio</a></div>
    </div>
  </body>
</html>